<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="loggingSample" class="sample1.LoggingSample"/>

    <aop:config>
        <aop:aspect id="logAspect" ref="loggingSample">
            <aop:pointcut expression="execution(* sayHello())"
                          id="logPointcut"/>
            <aop:around pointcut-ref="logPointcut" method="logAround"/>
        </aop:aspect>
    </aop:config>

    <bean id="targetBean" class="sample1.MessageBeanImpl">
        <property name="name" value="성준영"/>
    </bean>
</beans>